<section class="ftco-section ftco-hireme">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 d-flex align-items-center ftco-animate fadeInUp ftco-animated">
                <h2>We can <span>help</span> you.</h2>
            </div>
            <div class="col-md-4 col-lg-4 d-flex align-items-center ftco-animate fadeInUp ftco-animated">
                <p class="mb-0"><a href="#" class="btn btn-white py-4 px-5">Schedule a <span>Free</span> Consulation</a></p>
            </div>
        </div>
    </div>
</section>