
    <section class="ftco-section contact-section ftco-no-pb" id="schedule-a-call-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Schedule a free strategy session</h2>
            <p>We'll meet with you to talk about your app idea and give you structured advice for how to get more patients. Note: we don't sign NDAs until we agree to work together.</p>
          </div>
        </div>

        <div class="row no-gutters block-9">
          <div class="col-md-6 mx-auto order-md-last">
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/celladigital/free-consultation" style="min-width:320px;height:630px"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->
          </div>
        </div>
      </div>
    </section>