<section class="ftco-section bg-light" id="services-section" style="padding-top: 0;">
    <div class="container">
        <div class="row justify-content-center py-5 mt-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">What We Do</span>
        <h2 class="mb-4">Strategy, design and a bit of magic</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center d-flex ftco-animate">
            <div class="services-1">
                <span class="icon">
                    <i class="flaticon-analysis"></i>
                </span>
                <div class="desc">
                    <h3 class="mb-5"><a href="#">Digital Marketing</a></h3>
                    <p>Youtube. Instagram. Facebook. Twitter. Facebook Ads marketing. Google Adwords marketing. E-mail marketing. Digital Marketing Strategy. PPC campaigns. Landing pages. Digital campaigns. We know what we do.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center d-flex ftco-animate">
            <div class="services-1">
                <span class="icon">
                    <i class="flaticon-flasks"></i>
                </span>
                <div class="desc">
                    <h3 class="mb-5"><a href="#">Web Design</a></h3>
                    <p>Our user-experience approch convert dentist and cosmetic surgeon website visitors into patients. We utilize all the best practise in web design to help you achieve your goals and outcomes.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center d-flex ftco-animate">
            <div class="services-1">
                <span class="icon">
                    <i class="flaticon-ideas"></i>
                </span>
                <div class="desc">
                    <h3 class="mb-5"><a href="#">Website Maintence</a></h3>
                    <p>Let us take your website tasks off your plate so you can run your business and not worry about your website going down, not worry about software conflicts, not worry about an attack or virus infecting your site and you losing all your files.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>