<section id="home-section" class="hero">
        <div class="home-slider  owl-carousel">
        <!-- https://tigerconnect.com/blog/10-reasons-grateful-doctors/ -->
        <div class="slider-item ">
        <div class="overlay"></div>
        <div class="container">
            <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
            <div class="one-third order-md-last img" style="background-image:url({{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/bg_1.jpg);">
                <div class="overlay"></div>
            </div>
                <div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <div class="text">
                    <span class="subheading">#1 digital agency in Pakistan helping</span>
                    <h1 class="mt-3" style="font-size: 53px;">Cosmetic Surgeon <br>and Dentist</span></h1>
                    <h2 class="mb-4">create their <span class="font-weight-bold">website</span> and <span class="font-weight-bold">get more patients.</span></span></h2>

                    <!-- <h3 class="mb-4" style="font-size: 1.15rem;">Thank you for saving lives. We wanna be part of your journey and help you share your knowledge to the world and serve your patients better.</h3> -->
                    <h3 class="mb-4" style="font-size: 1.15rem;">Let us be part of your journey and serve the world greater together.</h3>
                    <p><a href="#schedule-a-call-section" class="btn-custom">Schedule a free strategy session</a></p>
                </div>
                </div>
            </div>
        </div>
        </div>

        <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
            <div class="one-third order-md-last img" style="background-image:url({{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/bg_6.jpg);">
                <div class="overlay"></div>
            </div>
                <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <div class="text">
                    <span class="subheading"></span>
                    <h1 class="mt-3"><span>Why top 1% </span>Medical Professional</h1>
                    <h2 class="mb-4 font-weight-bold" style="font-size: 1.75rem;">are getting websites and why you must to now?</h2>
                    <h3 class="mb-4" style="font-size: 1.15rem;">We wanna help you build your <span class="font-weight-bold">brand, website and get you more patients.</span></h3>
                    <p><a href="#schedule-a-call-section" class="btn-custom">Schedule a call</a></p>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
